# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.kotlin/

# Android
*.apk
*.aab
*.ap_
*.dex
*.class

# Logs & misc
*.log
.DS_Store
Thumbs.db

# Signing & keystores
*.jks
*.keystore
keystore.properties
